{% extends 'site-base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <section class="container-fluid" id="login-section">
        <div class="row">
            <div class="col-sm-12 offset-md-4 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center">Sign In</h3>
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        <span class="sr-only">Close</span>
                                    </button>
                                    <strong>{{ message }}</strong>
                                </div>
                            {% endfor %}

                        {% endif %}
                        <form class="mt-4" method="POST" action="{% url 'users:process_login' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" name="uname" id="uname" class="form-control" placeholder="Enter Username" aria-describedby="helpId">
                            </div>
                            <div class="form-group">
                                <input type="password" name="pwd" id="pwd" class="form-control" placeholder="Enter Username" aria-describedby="helpId">
                            </div>
                            <button type="submit" name="" id="" class="btn btn-dark btn-block">Grant Access</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}

{% endblock %}
