.card{
    border-radius: 0;
    border: 5px #324a6d dashed;
}

#login-section{
    height: 100vh;
}

#login-section h3{
    color: #324a6d;
}

#login-section .card{
    margin-top: 20vh;
    min-height: 50vh;
    box-shadow: 10px 5px 10px rgba(0,0,0, 0.2);
}

#login-section .form-control{
    border-radius: 0;
    height: 10vh;
}

#login-section .form-control:focus{
    box-shadow: none;
    border: 2px #f6cccc dashed;
}

.btn{
    border-radius: 0;
}